section.region.pt-40.pb-80.bg-white
  .region__container.container
    +section-header("Hotels", "Travel with us to the extremes of the world.", "See All")
    +region-cards(
      "Backpacking Sri Lanka", 
      "$700", 
      "Traveling is a unique experience as it's the best way to unplug from the pushes and pulls of daily life. It helps us to forget about our problems, frustrations, and fears at home. During our journey, we experience life in different ways. We explore new places, cultures, cuisines, traditions, and ways of living.", 
      "Book Flight",
      "./images/stays/d-1.png", 
      "./images/stays/d-2.png", 
      "./images/stays/d-3.png", 
      "./images/stays/d-4.png"
    )