section.stays.mb-60
  .stays__container.container
    +section-header("Your recent searches", "", "See more places")
    .stays__cards.grid.grid-cols-4.gap-12.mb-80
      +mini-card("./images/flight/p-1.png", "Istanbul, Turkey", "325 places")
      +mini-card("./images/flight/p-2.png", "Sydney, Australia", "325 places")
      +mini-card("./images/flight/p-3.png", "Baku, Azerbaijan", "325 places")
      +mini-card("./images/flight/p-4.png", "Malé, Maldives", "325 places")