.btn {
  cursor: pointer;
  color: $color-gray-900;
  background-color: $color-transparent;
  height: 40px;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include flex(center, center, $g: 7px);
  @include font($text-sm, 1.15, 500);
  transition-property: $transition-property-common;
  transition-duration: $transition-duration-faster;

  &__small {
    height: 32px;
  }

  &__large {
    height: 48px;
  }

  &__dark {
    background-color: $color-gray-900;
    color: $color-white;
    &:hover {
      background-color: $color-gray-700;
    }

    &:focus {
      background-color: $color-gray-900;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2)
    }

    &:active {
      background-color: $color-gray-700;
    }
  }

  &__success {
    background-color: $color-green-400;

    &:hover {
      background-color: $color-green-300;
    }

    &:focus {
      background-color: $color-green-400;
      box-shadow: 0 0 0 3px rgba(130, 203, 178, 0.35);
    }

    &:active {
      background-color: $color-green-500;
    }
  }

  &__plain {
    border-color: $color-green-300;

    &:hover {
      border-color: $color-green-100;
    }

    &:focus {
      border-color: $color-green-100;
      box-shadow: 0 0 0 2px $color-green-100;
    }

    &:active {
      border-color: $color-green-300;
    }
  }

  &__text {
    &:hover {
      color: $color-green-300;
    }

    &:focus {
      color: $color-gray-900;
    }

    &:active {
      color: $color-green-500;
    }
  }
}