body {
  font-family: "Montserrat", sans-serif;
  font-size: $text-xl;
  font-weight: 400;
  line-height: 1.15;
  background-color: $color-gray-200;
}

.icon-sm {
  width: 1.6rem;
}
.icon-md {
  width: 2rem;
}
.icon-lg {
  width: 2.4rem;
}