.main {
  &__space-1 {
    @include breakpoint-max (1024px) {
      height: 350px;
    }
    @include breakpoint-max (520px) {
      height: 520px;
    }
  }
}

.places {
  &__cards {
    .mini-card {
      background-color: $color-white;
      box-shadow: 0px 4px 16px 0px #11221105;
    }
    
    @include breakpoint-max (1060px) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-max (768px) {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    .text-md {
      width: 90%;
    }

    @include breakpoint-max (920px) {
      grid-template-columns: 1fr;
    }
  }

}

.travel {
  &__cards {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

