.main {
}

.places {
  &__container {
  }
  &__cards {
    .mini-card {
      background-color: $color-white;
      box-shadow: 0px 4px 16px 0px #11221105;
    }
    
    @include breakpoint-max (1060px) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-max (768px) {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    .text-md {
      width: 90%;
    }
  }

}

