.login-signup.bg-white.card-shadow-xl.rounded-xl.px-24.py-24.flex.flex-col.gap-8
  p.login-signup__prompt Login or Sign up to book
  input.login-signup__input(type="text" placeholder="Phone Number")
  button.login-signup__button Continue
  p.login-signup__or Or
  .login-signup__social
    button.login-signup__social-button Facebook
    button.login-signup__social-button Google
    button.login-signup__social-button Apple
  button.login-signup__email Continue with email