footer.footer
  .footer__container.container.relative
    .footer__mailbox.bg-teal.rounded-20.px-24.py-20
      .flex.flex-col.gap-6
        h1.text-5xl.font-bold.font-trade-gothic Subscribe Newsletter
        p.text-xl.font-bold.font-trade-gothic The Travel
        span.text-md.font-medium Get inspired! Receive travel discounts, tips and behind the scenes stories.
        .flex.items-center.gap-6
          +easy-input("text", "Your email address")
          button.btn.btn__dark.btn__xlarge Subscribe
    .footer__inner