nav.header-nav.fixed.z-50.flex.items-center.w-full.card-shadow.bg-white
  .header-nav__container.container.flex.justify-between.items-center.w-full.h-full
    .header-nav__links.flex.items-center.gap-12.h-full
      a.header-nav__link.header-nav__link--active.h-full.flex.items-center.gap-2.text-sm.font-semibold(href="index.html")
        img(src="./images/icons/airplane-dark.svg", alt="", draggable="false")
        | Find Flight
      a.header-nav__link.h-full.flex.items-center.gap-2.text-sm.font-semibold(href="stays.html")
        img(src="./images/icons/bed-dark.svg", alt="", draggable="false")
        | Find Stays
    a.header-nav__logo.flex.items-center(href="index.html")
      img(src="./images/header/logo.svg", alt="Company logo", draggable="false", width="110", height="35")
    .header-nav__auth.header-auth.flex.items-center.gap-4
      a.header-nav__btn.btn.btn__text(href="#") Login
      a.header-nav__btn.btn.btn__dark(href="#") Sign up