mixin header-hero(title="Helping Others", caption="", cls="header__hero--flight")
  .header__hero.header-hero(class=cls)
    .header-hero__container.container.h-full.relative
      h1.header-hero__title.font-bold.mb-8= title
      p.header-hero__caption.font-regular.text-xl= caption
      .header-hero__interaction-panel.interaction-panel.absolute
        h3.interaction-panel__title Where are you flying?
        form.interaction-panel__form.form
          .form__input-group
            input.form__input
          select
            option Salom
            option Salom
          input