.places__map
        .container.h-full
          .places__inner.h-full
            .places__point.flex.items-center.gap-3.bg-white.py-4.pr-10.pl-4
              img(src="./images/flight/place-1.png", alt="")
              .flex.flex-col
                h4.text-ss.font-bold James Doe
                span.text-ss.font-regular Boarding Pass N'123
              img.arrow(src="./images/flight/p-1.svg", alt="", draggable="false")
            .places__point.flex.items-center.gap-3.bg-white.py-4.pr-10.pl-4
                img(src="./images/flight/place-2.png", alt="")
                .flex.flex-col
                  h4.text-ss.font-bold James Doe
                  span.text-ss.font-regular Boarding Pass N'123
                img.arrow(src="./images/flight/p-2.svg", alt="", draggable="false")
            .places__point.flex.items-center.gap-3.bg-white.py-4.pr-10.pl-4
                img(src="./images/flight/place-3.png", alt="")
                .flex.flex-col
                  h4.text-ss.font-bold James Doe
                  span.text-ss.font-regular Boarding Pass N'123
                img.arrow(src="./images/flight/p-3.svg", alt="", draggable="false")
            .places__point.flex.items-center.gap-3.bg-white.py-4.pr-10.pl-4
                img(src="./images/flight/place-4.png", alt="")
                .flex.flex-col
                  h4.text-ss.font-bold James Doe
                  span.text-ss.font-regular Boarding Pass N'123
                img.arrow(src="./images/flight/p-4.svg", alt="", draggable="false")
            .places__point.flex.items-center.gap-3.bg-white.py-4.pr-10.pl-4
                img(src="./images/flight/place-5.png", alt="")
                .flex.flex-col
                  h4.text-ss.font-bold James Doe
                  span.text-ss.font-regular Boarding Pass N'123
                img.arrow(src="./images/flight/p-5.svg", alt="", draggable="false")