mixin input(type="text", placeholder="", src="", label="", val="")
  fieldset.input-fieldset
    legend.text-sm.font-regular.ml-10.px-5= label
    .input-wrap.flex.items-center.justify-between.px-15.pt-10.pb-15
      input.text-md.font-regular.pr-15(type= type, placeholder= placeholder, value= val)
      img.icon-sms(src= src, alt="", draggable="false")

mixin easy-input(type="", placeholder="", value="")
  input.border-gray.input-easy.text-md.px-18.py-18(type= type, placeholder= placeholder, value= value)
  
mixin select(val="", label="", ...items)
  fieldset.input-fieldset
    legend.text-sm.font-regular.ml-10.px-5= label
    .select-wrap.flex.items-center.justify-between
      select.text-md.font-regular.pr-15.px-15.pt-10.pb-15(value= val)
        each item in items
          option(value= item)= item