mixin region-cards(title="", price="", desc="", btn="", link="")
  .region-cards.grid.grid-cols-3.gap-9
    .region-info.flex.flex-col.bg-success.rounded-20.px-24.py-24.gap-9
      .flex.justify-between.items-start.gap-8
        h1.text-5xl.font-bold.font-trade-gothic Backpacking Sri Lanka
        .flex.flex-col.items-center.px-8.py-8.bg-white.rounded-lg.gap-2
          p.text-sm.font-trade-gothic From
          h3.text-xl.font-semibold.whitespace-nowrap $700
      p.text-sm.mb-80 Traveling is a unique experience as it's the best way to unplug from the pushes and pulls of daily life. It helps us to forget about our problems, frustrations, and fears at home. During our journey, we experience life in different ways. We explore new places, cultures, cuisines, traditions, and ways of living.
      a.btn.btn__light(href= link) btn