mixin section-header(title="", desc="", btn="")
  .section-header.flex.items-center.justify-between.mb-30
    .section-header__text.flex.flex-col.gap-y-8
      h1.section-header__tille.text-3xl.font-semibold= title
      p.section-header__desc.text-md.font-regular= desc
    button.btn.btn__plain= btn