extends ../layouts/hero.pug

block content
  include ../components/flight/_flight-header.pug
  main.main
    section.space-y-26.main__space-1
    include ../components/flight/_flight-places.pug
    include ../components/flight/_travel-cards.pug
    include ../components/flight/_travel-detail.pug
    section.space-y-20.bg-white