extends ../layouts/auth.pug

block content
  .auth__inner.flex.flex-col.gap-20
    img.auth__logo(src="./images/header/logo.svg", alt="Company logo", draggable="false", width="110", height="35")
    form.auth__form.flex.flex-col.gap-8
      a.flex.items-center.text-sm.font-medium(href="login.html")
        img(src="./images/icons/chevron-left.svg")
        span Back to login
      h1.text-5xl.font-bold.font-trade-gothic Forgot your password?
      p.text-md Don’t worry, happens to all of us. Enter your email below to recover your password
      .flex.flex-col.gap-10.mt-18
        +input-fieldset("email", "Email...", "", "Email", "john.doe@gmail.com")
        a.btn.btn__success.btn__large(href="password-code-verify.html") Submit
    .auth__separator.relative.flex.justify-center
    .auth__social.grid.grid-cols-3.gap-5
      button.login-signup__social-button.btn.btn__plain.btn__large
        img(src="./images/icons/facebook.svg", alt="Facebook")
      button.login-signup__social-button.btn.btn__plain.btn__large
        img(src="./images/icons/google.svg", alt="Google")
      button.login-signup__social-button.btn.btn__plain.btn__large
        img(src="./images/icons/apple.svg", alt="Apple")
  img.auth__decor(src="./images/auth/login-2.jpg", alt="")