extends ../layouts/main.pug

block content
  main.main Hello World
    button.btn.btn__plain(type="button", disabled)
      | Button
      img(src="./images/icons/plus.svg", alt="")
    input(type="text")