extends ../layouts/hero.pug

block content
  header.header
    include ../components/_navbar.pug
    .header__hero.header__hero--flight.header-hero
      .header-hero__container.container.h-full.relative
        h1.header-hero__title.font-bold.mb-8 Make your travel whishlist, we’ll do the rest
        p.header-hero__caption.font-regular.text-xl Special offers to suit your plan
        .header-hero__interaction-panel.interaction-panel.absolute.flex.flex-col.gap-12.px-24.py-32
          h3.interaction-panel__title.text-xl.font-semibold Where are you flying?
          form.interaction-panel__form.flex.flex-col.gap-12
            .interaction-panel__form-inner.flex.justify-between.items-center
              +input("text", "Route", "./images/icons/swap-horizontal.svg", "From - To", "Lahore - Karachi")
              +select("Return", "Trip")
              +input("text", "Route", "./images/icons/calendar-dark.svg", "Depart- Return", "07 Nov 22 - 13 Nov 22")
              +input("text", "Route", "./images/icons/breifcase-dark.svg", "Passenger - Class", "1 Passenger, Economy")
            .interaction-panel__form-submit.flex.items-center.justify-end.gap-4.w-full
              button.btn.btn__text
                img(src="./images/icons/plus.svg")
                | Add Promo Code
              button.btn.btn__success
                img.icon-sm(src="./images/icons/paperplane-dark.svg")
                | Show Filghts
  main.main
    section.space-y-26
    section.places.mb-60
      .places__container.container
        +section-header("Plan your perfect trip", "Search Flights & Places Hire to our most popular destinations", "See more places")
        .places__cards.grid.grid-cols-3.gap-12.mb-80
          +mini-card("./images/flight/p-1.png", "Istanbul, Turkey", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-2.png", "Sydney, Australia", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-3.png", "Baku, Azerbaijan", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-4.png", "Malé, Maldives", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-5.png", "Paris, France", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-6.png", "New York, US", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-7.png", "London, UK", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-8.png", "Tokyo, Japan", "Flights • Hotels • Resorts")
          +mini-card("./images/flight/p-9.png", "Dubai, UAE", "Flights • Hotels • Resorts")
        .places__block.grid.grid-cols-2.gap-9
          +page-card("./images/flight/pic-1.jpg", "Flights", "Search Flights & Places Hire to our most popular destinations", "Show Flights", "./images/icons/paperplane-dark.svg")
          +page-card("./images/flight/pic-2.jpg", "Hotels", "Search hotels & Places Hire to our most popular destinations", "Show Hotels", "./images/icons/bed-dark.svg")
    section.travel.pt-40.pb-80.bg-white
      .travel__container.container
        +section-header("Fall into travel", "Going somewhere to celebrate this season? Whether you’re going home or somewhere to roam, we’ve got the travel tools to get you to your destination.", "See All")
        .travel__cards.grid.grid-cols-4.gap-6
          +flight-card("../images/flight/t-1.png", "Melbourne", "An amazing journey", "$ 700", "#")
          +flight-card("../images/flight/t-2.png", "Paris", "A Paris Adventure", "$ 600", "#")
          +flight-card("../images/flight/t-3.png", "London", "London eye adventure", "$ 350", "#")
          +flight-card("../images/flight/t-4.png", "Columbia", "Amazing streets", "$ 700", "#")
    section.region.pt-40.pb-80.bg-white
      .region__container.container
        +section-header("Natural wonders", "Travel with us to the extremes of the world.", "See All")
        +region-cards(
          "Backpacking Sri Lanka", 
          "$700", 
          "Traveling is a unique experience as it's the best way to unplug from the pushes and pulls of daily life. It helps us to forget about our problems, frustrations, and fears at home. During our journey, we experience life in different ways. We explore new places, cultures, cuisines, traditions, and ways of living.", 
          "Book Flight",
          "./images/flight/r-1.jpg", 
          "./images/flight/r-2.jpg", 
          "./images/flight/r-3.jpg", 
          "./images/flight/r-4.jpg"
        )