extends ../layouts/auth.pug

block content
  .auth__inner.flex.flex-col.gap-20
    img.auth__logo(src="./images/header/logo.svg", alt="Company logo", draggable="false", width="110", height="35")
    form.auth__form.flex.flex-col.gap-8
      a.flex.items-center.text-sm.font-medium(href="login.html")
        img(src="./images/icons/chevron-left.svg")
        span Back to login
      h1.text-5xl.font-bold.font-trade-gothic Verify code
      p.text-md An authentication code has been sent to your email.
      .flex.flex-col.gap-10.mt-18
        +input-fieldset("password", "Enter Code...", "./images/icons/eye-off.svg", "Enter Code", "7789BM6X")
        p.text-sm.font-medium.flex.items-center.gap-2.text-center
          | Didn’t receive a code?
          span.text-red.font-semibold Resend
        a.btn.btn__success.btn__large(href="set-password.html") Verify   
  img.auth__decor(src="./images/auth/login-2.jpg", alt="")