extends ../layouts/auth.pug

block content
  .auth__inner.flex.flex-col.gap-20
    img.auth__logo(src="./images/header/logo.svg", alt="Company logo", draggable="false", width="110", height="35")
    form.auth__form.flex.flex-col.gap-8
      h1.text-5xl.font-bold.font-trade-gothic Set a password
      p.text-md Your previous password has been reseted. Please set a new password for your account.
      .flex.flex-col.gap-10.mt-18
        +input-fieldset("password", "Enter Code...", "./images/icons/eye-off.svg", "Enter Code", "7789BM6X")
        +input-fieldset("password", "Enter Code...", "./images/icons/eye-off.svg", "Enter Code", "7789BM6X")
        a.btn.btn__success.btn__large(href="login.html") Set password   
  img.auth__decor(src="./images/auth/login-1.jpg", alt="")