extends ../layouts/hero.pug

block content
  include ../components/stays/_stays-header.pug
  main.main
    section.space-y-26.main__space-1
    include ../components/stays/_stays-places.pug
    include ../components/stays/_hotel-cards.pug
    include ../components/stays/_hotel-detail.pug
    section.space-y-20.bg-white