section.places.mb-60
  .places__container.container
    +section-header("Plan your perfect trip", "Search Flights & Places Hire to our most popular destinations", "See more places")
    .places__cards.grid.grid-cols-3.gap-12.mb-80
      +mini-card("./images/flight/p-1.png", "Istanbul, Turkey", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-2.png", "Sydney, Australia", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-3.png", "Baku, Azerbaijan", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-4.png", "Malé, Maldives", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-5.png", "Paris, France", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-6.png", "New York, US", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-7.png", "London, UK", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-8.png", "Tokyo, Japan", "Flights • Hotels • Resorts")
      +mini-card("./images/flight/p-9.png", "Dubai, UAE", "Flights • Hotels • Resorts")
    .places__block.grid.grid-cols-2.gap-9
      +page-card("./images/flight/pic-1.jpg", "Flights", "Search Flights & Places Hire to our most popular destinations", "Show Flights", "./images/icons/paperplane-dark.svg", "flight-list.html")
      +page-card("./images/flight/pic-2.jpg", "Hotels", "Search hotels & Places Hire to our most popular destinations", "Show Hotels", "./images/icons/bed-dark.svg", "#")