header.header
  include ../_navbar.pug
  .header__hero.header__hero--flight.header-hero
    .header-hero__container.container.h-full.relative.flex.flex-col
      h1.header-hero__title.font-bold.mb-8 Make your travel whishlist, we’ll do the rest
      p.header-hero__caption.font-regular.text-xl Special offers to suit your plan
      .header-hero__interaction-panel.interaction-panel.absolute.flex.flex-col.gap-12.px-24.py-32
        h3.interaction-panel__title.text-xl.font-semibold Where are you flying?
        form.interaction-panel__form.flex.flex-col.gap-12.w-full
          .interaction-panel__form-inner.w-full
            +input-fieldset("text", "Route", "", "From - To", "Lahore - Karachi")
              img.icon-sms(src="./images/icons/swap-horizontal.svg", alt="", draggable="false")
            +select("Return", "Trip", "Return", "Departure")
            +input-fieldset("text", "Route", "./images/icons/calendar-dark.svg", "Depart- Return", "07 Nov 22 - 13 Nov 22")
            +input-fieldset("text", "Route", "./images/icons/breifcase-dark.svg", "Passenger - Class", "1 Passenger, Economy")
          .interaction-panel__form-submit.flex.items-center.justify-end.gap-4.w-full
            button.btn.btn__text
              img(src="./images/icons/plus.svg")
              | Add Promo Code
            a.btn.btn__success(href="flight-list.html")
              img.icon-sm(src="./images/icons/paperplane-dark.svg")
              | Show Filghts