section.travel.pt-40.pb-80.bg-white
  .travel__container.container
    +section-header("Fall into travel", "Going somewhere to celebrate this season? Whether you’re going home or somewhere to roam, we’ve got the travel tools to get you to your destination.", "See All")
    .travel__cards.grid.grid-cols-4.gap-6
      +features-card("../images/flight/t-1.png", "Melbourne", "An amazing journey", "$ 700", "flight-list.html", "Book a flight")
      +features-card("../images/flight/t-2.png", "Paris", "A Paris Adventure", "$ 600", "flight-list.html", "Book a flight")
      +features-card("../images/flight/t-3.png", "London", "London eye adventure", "$ 350", "flight-list.html", "Book a flight")
      +features-card("../images/flight/t-4.png", "Columbia", "Amazing streets", "$ 700", "flight-list.html", "Book a flight")