.breadcrumbs {
  &__list {
    @include breakpoint-max(640px) {
      font-size: 12px;
    }
  }
  &__item {
    opacity: 0.75;
    @include breakpoint-max(480px) {
      &:not(:last-child) {
        display: none;
      }
    }
    &:last-child {
      color: $color-gray-900;
      img {
        display: none;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}