.flight-card {
  padding-top: 290px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  &__bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition-property: $transition-property-common;
    transition-duration: $transition-duration-slower;
  }
  &:hover .flight-card__bg{
    transform: scale(1.1);
  }
}
