.footer {
  @include breakpoint-max (580px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__container {}

  &__mailbox {
    top: -204px;
    background-image: url("../images/footer/mailbox-picture.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    left: 0;

    .text-5xl {
      width: 250px;
    }

    .text-md {
      display: block;
      width: 50%;
    }

    input {
      width: 40% !important;
    }

    @include breakpoint-max (920px) {
      background-size: 40%;
      background-position: bottom right;
    }

    @include breakpoint-max (768px) {
      background-image: none;
      top: -180px;

      .text-5xl {
        width: auto;
        font-size: 30px;
      }

      .text-md {
        width: auto;
      }

      input {
        width: 80% !important;
      }
    }

    
    @include breakpoint-max (520px) {
      top: -220px;
      .mailbox-bottom {
        flex-direction: column;
        align-items: flex-start;
        input {
          width: 100% !important;
        }
        input, button {
          height: 36px;
        }
      }
    }
  }

  &__inner {
    @include breakpoint-max (1024px) {
      gap: 70px;
    }

    @include breakpoint-max (580px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  &__socially {
    @include breakpoint-max (580px) {
      gap: 5px;
    }
  }

  &__links {
    flex: 1;

    @include breakpoint-max (1024px) {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 28px;
    }
  }

  &__block {
    @include breakpoint-max (580px) {
      align-items: center;
      gap: 6px;
    }
  }

  &__link {
    opacity: 0.8;
    transition-property: $transition-property-common;
    transition-duration: $transition-duration-faster;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}