.header {
  &__hero {
    &--flight {
      background-image: linear-gradient(
          90deg,
          rgba(19, 24, 66, 0.75),
          rgba(0, 0, 0, 0.1)
        ),
        url("../images/header/bg-2.jpg");
        background-position: top;
    }
    &--stays {
      background-image: linear-gradient(
          90deg,
          rgba(19, 24, 66, 0.75),
          rgba(0, 0, 0, 0.1)
        ),
        url("../images/header/bg-3.jpg");
      background-position: center;
    }
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header-nav {
  height: 90px;
  &__link {
    &--active {
      position: relative;
      &::after {
        display: inline-block;
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        bottom: 0;
        background-color: $color-green-400;
      }
    }
    &:hover {
      color: $color-green-500;
    }

    &:focus {
      color: $color-gray-900;
    }

    &:active {
      color: $color-green-500;
    }
  }
}

.header-hero {
  &__container {
    padding-top: 80px;
    padding-bottom: 232px;
  }
  &__title,
  &__caption {
    color: $color-white;
  }
  &__title {
    font-family: "TradeGothic LT Extended";
    font-size: 45px;
    line-height: 1.4;
    max-width: 440px;
  }
  &__caption {
    line-height: 1.4;
  }
}


