.header {
  &__nav {
    height: 90px;
    width: 100%;
    @include flex($y: center);
    background-color: aliceblue
  }
}

.header-nav {
  &__container {
    width: 100%;
    height: 100%;
  }
  &__links {
    gap: 30px;
    height: 100%;
  }
  &__link {
    height: 100%;
    border-bottom: 5px solid $color-green-400;
    gap: 5px;
    &:hover {
      color: $color-green-500;
    }

    &:focus {
      color: $color-gray-900;
    }

    &:active {
      color: $color-green-500;
    }
  }
  &__logo {
    
  }
  &__auth {
    @include flex($y: center, $g: 10px);
  }
  &__btn {}
}