.price-info-card {
  // max-width: 450px;
  // width: 100%;
  flex: 1;
  hr {
    height: 1px;
    width: 100%;
    background-color: #00000020;
    box-shadow: none;
    border: none;
  }
  &__container {}
  &__details {}
}