+flight-info(
  "Return Wed, Dec 8",
  "2h 28m",
  { logo: "./images/flight-detail/em-1.png", name: "Emirates", plane: "Airbus A320" },
  { start: "12:00 pm", startPoint: "Newark(EWR)", end: "14:00 pm", endPoint: "Newark(EWR)" },
  [
    "./images/icons/airplane-dark.svg",
    "./images/icons/wifi-dark.svg",
    "./images/icons/spedometer.svg",
    "./images/icons/food.svg",
    "./images/icons/recline.svg"
  ]
)
+flight-info(
  "Return Wed, Dec 8",
  "2h 28m",
  { logo: "./images/flight-detail/em-1.png", name: "Emirates", plane: "Airbus A320" },
  { start: "12:00 pm", startPoint: "Newark(EWR)", end: "14:00 pm", endPoint: "Newark(EWR)" },
  [
    "./images/icons/airplane-dark.svg",
    "./images/icons/wifi-dark.svg",
    "./images/icons/spedometer.svg",
    "./images/icons/food.svg",
    "./images/icons/recline.svg"
  ]
)