.flex.flex-col.gap-10.bg-teal.rounded-lg.px-24.py-24
  h3.text-2xl.font-bold.font-trade-gothic Emirates Airlines Policies
  .flight-detail-policy__desc.flex.items-center.gap-24
    .flex.items-center.gap-3
      img(src="./images/icons/spedometer.svg")
      span.text-md.font-medium.mt-3 Pre-flight cleaning, installation of cabin HEPA filters.
    .flex.items-center.gap-3
      img(src="./images/icons/spedometer.svg")
      span.text-md.font-medium.mt-3 Pre-flight health screening questions.