.flex.flex-col.gap-6
  .flex.justify-between.gap-4.w-full
    h2.text-2xl.font-bold.font-trade-gothic Emirates A380 Airbus
    h1.text-3xl.font-bold.text-red $240
  .flex.justify-between.items-start.gap-4
    .flex.flex-col.gap-4
      .flex.items-center.gap-1
        img.icon-sm(src="./images/icons/location-dark.svg")
        span.text-sm.font-medium Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437
      .flex.items-center.gap-2.text-xs
        button.btn.btn__plain.btn__small 4.2
        p.font-semibold Very Good
        span 54 reviews
    .flex.items-center.gap-6
      button.btn.btn__plain.btn__large
        img(src="./images/icons/heart-outline.svg")
      button.btn.btn__plain.btn__large
        img(src="./images/icons/share-dark.svg")
      button.btn.btn__success.btn__large Book now
  img.flight-detail-head__banner(src="./images/flight-detail/banner.jpg")