include ../mixins/input.pug
include ../mixins/select.pug
include ../mixins/section-header.pug
include ../mixins/mini-card.pug
include ../mixins/flight-card.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Globe
    link(rel="stylesheet" href="./css/lib.min.css")
    link(rel="stylesheet" href="./css/style.min.css")
  body.wrapper
    block content