include ../mixins/form/input.pug
include ../mixins/form/input-fieldset.pug
include ../mixins/section-header.pug
include ../mixins/cards/mini-card.pug
include ../mixins/cards/region-cards.pug
include ../mixins/cards/features-card.pug
include ../mixins/cards/page-card.pug
include ../mixins/filter-tools/all-filter-tools.pug
include ../mixins/cards/flight-order.pug
include ../mixins/cards/stay-order.pug
include ../mixins/breadcrumbs.pug
include ../mixins/cards/flight-info.pug
include ../mixins/payment-method.pug
include ../mixins/cards/price-info-card.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Globe
    link(rel="stylesheet" href="./css/lib.min.css")
    link(rel="stylesheet" href="./css/style.min.css")
  body.wrapper
    include ../components/_sidebar.pug
    .sidebar-overlay.fixed.hidden
    block content
    include ../components/_footer.pug
    script(src="./js/main.min.js", type="module")