doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Globe
    link(rel="stylesheet" href="./css/lib.min.css")
    link(rel="stylesheet" href="./css/style.min.css")
  body.wrapper
    header.header
      nav.header__nav.header-nav
        .header-nav__container.container.flex.justify-between.items-center
          .header-nav__links.flex.items-center
            a.header-nav__link.flex.items-center.text-sm.font-semibold(href="#")
              img(src="./images/icons/airplane-dark.svg", alt="", draggable="false")
              | Find Flight
            a.header-nav__link.flex.items-center.text-sm.font-semibold(href="#")
              img(src="./images/icons/bed-dark.svg", alt="", draggable="false")
              | Find Stays
          a.header-nav__logo.flex.items-center(href="#")
            img(src="./images/header/logo.svg", alt="Company logo", draggable="false", width="110", height="35")
          .header-nav__auth.header-auth
            a.header-nav__btn.btn.btn__text(href="#") Login
            a.header-nav__btn.btn.btn__dark(href="#") Sign up
    block content