include ../mixins/input.pug
include ../mixins/section-header.pug
include ../mixins/mini-card.pug
include ../mixins/region-cards.pug
include ../mixins/features-card.pug
include ../mixins/page-card.pug
include ../mixins/filter-tools.pug
include ../mixins/flight-order.pug
include ../mixins/breadcrumbs.pug
include ../mixins/flight-info.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Globe
    link(rel="stylesheet" href="./css/lib.min.css")
    link(rel="stylesheet" href="./css/style.min.css")
  body.wrapper
    block content
    include ../components/_footer.pug