@import "helpers/variables";

@for $i from 1 through 100 {
  .m {
    &l {
      &-#{$i} {
        margin-left: $i + px;
      }
    }
    &r {
      &-#{$i} {
        margin-right: $i + px;
      }
    }
    &t {
      &-#{$i} {
        margin-top: $i + px;
      }
    }
    &b {
      &-#{$i} {
        margin-bottom: $i + px;
      }
    }
  }
}

@for $i from 1 through 100 {
  .p {
    &l {
      &-#{$i} {
        padding-left: $i + px;
      }
    }
    &r {
      &-#{$i} {
        padding-right: $i + px;
      }
    }
    &t {
      &-#{$i} {
        padding-top: $i + px;
      }
    }
    &b {
      &-#{$i} {
        padding-bottom: $i + px;
      }
    }
  }
}

@for $i from 1 through 100 {
  .p {
    &x {
      &-#{$i} {
        padding-left: $i + px;
        padding-right: $i + px;
      }
    }
    &y {
      &-#{$i} {
        padding-top: $i + px;
        padding-bottom: $i + px;
      }
    }
  }
}

@for $i from 1 through 100 {
  .m {
    &x {
      &-#{$i} {
        margin-left: $i + px;
        margin-right: $i + px;
      }
    }
    &y {
      &-#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
      }
    }
  }
}

@for $i from 1 through 40 {
  .space {
    &-x {
      &-#{$i} {
        width: $i*10px;
      }
    }
    &-y {
      &-#{$i} {
        height: $i*10px;
      }
    }
  }
}

// FLEXBOX
/* Container va Display */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

/* Align Content */
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* Align Self */
.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}

/* Container va Display */
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}

/* Grid Template Columns */
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-rows-none {
  grid-template-rows: none;
}

/* Gap */
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-11 {
  gap: 2.75rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-14 {
  gap: 3.5rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-24 {
  gap: 6rem;
}
.gap-28 {
  gap: 7rem;
}
.gap-32 {
  gap: 8rem;
}
.gap-36 {
  gap: 9rem;
}
.gap-40 {
  gap: 10rem;
}

/* Justify Items */
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}

/* Align Items */
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}

/* Justify Content */
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* flex-1 */
.flex-1 {
  flex: 1 1 0%;
}

/* flex-auto */
.flex-auto {
  flex: 1 1 auto;
}

/* flex-initial */
.flex-initial {
  flex: 0 1 auto;
}

/* flex-none */
.flex-none {
  flex: none;
}

/* Align Content */
.content-center {
  align-content: center;
}
.content-start {
  align-content: start;
}
.content-end {
  align-content: end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

// FONT SIZES
.text-ss {
  font-size: $text-ss;
}
.text-xs {
  font-size: $text-xs;
}
.text-sm {
  font-size: $text-sm;
}
.text-md {
  font-size: $text-md;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}
.text-2xl {
  font-size: $text-2xl;
}
.text-3xl {
  font-size: $text-3xl;
}
.text-4xl {
  font-size: $text-4xl;
}
.text-5xl {
  font-size: $text-5xl;
}

// FONT WEIGHT
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

// Font family
.font-trade-gothic {
  font-family: "TradeGothic LT Extended";
}

// Text
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

// Overflow
/* CSS dosyası: styles.css */

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

/* Whitespace normal */
.whitespace-normal {
  white-space: normal;
}

/* Whitespace nowrap */
.whitespace-nowrap {
  white-space: nowrap;
}


/* z-index: 0 */
.z-0 {
  z-index: 0;
}

/* z-index: 10 */
.z-10 {
  z-index: 10;
}

/* z-index: 20 */
.z-20 {
  z-index: 20;
}

/* z-index: 30 */
.z-30 {
  z-index: 30;
}

/* z-index: 40 */
.z-40 {
  z-index: 40;
}

/* z-index: 50 */
.z-50 {
  z-index: 50;
}

/* z-index: auto */
.z-auto {
  z-index: auto;
}



/* Percentage-based and other widths */
.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw; /* Viewport width */
}

.w-min {
  width: min-content;
}

.w-max {
  width: max-content;
}

.w-fit {
  width: fit-content;
}

.max-w-fit {
  max-width: fit-content;
}
.min-w-fit {
  min-width: fit-content;
}

/* Percentage-based and other heights */
.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vw; /* Viewport height */
}

.h-min {
  height: min-content;
}

.h-max {
  height: max-content;
}

.h-fit {
  height: fit-content;
}

// Position
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.static {
  position: static;
}

// Color
.bg-white {
  background-color: $color-white;
}
.bg-teal {
  background-color: $color-teal-200;
}
.bg-success {
  background-color: $color-green-400;
}
.bg-dark {
  background-color: $color-gray-900;
}
.bg-red {
  background-color: $color-red-400;
}
.text-red {
  color: $color-red-400;
}
.text-white {
  color: $color-white;
}
.text-dark-gray {
  color: $color-gray-900;
}

// Border radius
.rounded-none {
  border-radius: 0px;
}
.rounded-sm {
  border-radius: 0.2rem;
}
.rounded {
  border-radius: 0.4rem;
}
.rounded-md {
  border-radius: 0.6rem;
}
.rounded-lg {
  border-radius: 0.8rem;
}
.rounded-xl {
  border-radius: 1.2rem;
}
.rounded-2xl {
  border-radius: 1.6rem;
}
.rounded-20 {
  border-radius: 2rem;
}
.rounded-full {
  border-radius: 9999px;
}

.card-shadow {
  box-shadow: 0px 4px 16px 0px #11221105;
}

.card-shadow-xl {
  box-shadow: 0 4px 16px 0 #8DD3BB15;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.border-gray {
  border: 1px solid $color-gray-900;
}
.border-green {
  border: 1px solid $color-green-400;
}