- var tabs = []
- tabs[0] = {label: "Cheapest", text: "$99 . 2h 18m"}
- tabs[1] = {label: "Best", text: "$99 . 2h 18m"}
- tabs[2] = {label: "Quickest", text: "$99 . 2h 18m"}
.flights-filter__data.flights-data.w-full.flex.flex-col.gap-4
  .flights-data__header.flex.flex-col.gap-8
    .flights-data__tabs.grid.bg-white.card-shadow-xl.rounded-xl.overflow-hidden
      each item in tabs
        .flex.flex-col.gap-4.tab-item
          h5.text-md.font-semibold= item.label
          span.text-sm.whitespace-nowrap= item.text
      .flex.items-center.gap-4.tab-item
        img(src="./images/icons/menu-outline.svg")
        span.text-sm.font-medium.whitespace-nowrap Other sort
    .flights-data__sort-info.flex.justify-between.items.center
      h5.text-sm.font-semibold.flex.items-center.gap-2
        | Showing 4 of 
        span.text-red 257 places
      .flex.items-center.gap-2.text-sm.pointer
        span Sort by
        h5.font-semibold Recommended
        img(src="./images/icons/chevron-down.svg")
  .flex.flex-col.gap-12.mb-5
    +flight-order("./images/flight/fly-1.png", "$104", "Very Good", "4.2")
    +flight-order("./images/flight/fly-2.png", "$104", "Very Good", "4.2")
    +flight-order("./images/flight/fly-3.png", "$104", "Very Good", "4.2")
    +flight-order("./images/flight/fly-4.png", "$104", "Very Good", "4.2")
  button.btn.btn__dark.btn__large.w-full Show more results