section.interaction.mt-40
  .interaction__container.container
    .interaction__panel.interaction-panel.flex.flex-col.gap-12.px-24.py-32
      form.interaction-panel__form.flex.gap-10.w-full
        .interaction-panel__form-inner.w-full
          +input("text", "Route", "./images/icons/swap-horizontal.svg", "From - To", "Lahore - Karachi")
          +select("Return", "Trip", "Return", "Departure")
          +input("text", "Route", "./images/icons/calendar-dark.svg", "Depart- Return", "07 Nov 22 - 13 Nov 22")
          +input("text", "Route", "./images/icons/breifcase-dark.svg", "Passenger - Class", "1 Passenger, Economy")
        button.btn.btn__success.btn__xlarge.w-fil.mt-9.h-full
          img(src="./images/icons/search-outline.svg")